<% include /header %>

<h1>Comments</h1>

<div id="alerts">
<% include alerts %>
</div>

<div class="container">
  <form id="comment-box" role="form" action="/watchlist/<%= commentId %>/comments" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" id="comment-entry" placeholder="Leave a comment" name="text">
    </div>
  </form>

  <div class="col-md-12 container-fluid" id="whiteBlock">
     <% for (var i = 0; i < returnMe.length; i++) { %>
           <div class="col-xs-12" id="movie-comment">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp; <%= returnMe[i].text %>
           </div>
     <% } %>
  </div>
</div>


<% include /footer %>
