<html>
<head>
  <title>(☝ ◉ืൠ◉ื)</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container">

    <div>
    <em>(☝ ◉ืൠ◉ื)(☝ ◉ืൠ◉ื)(☝ ◉ืൠ◉ื)(☝ ◉ืൠ◉ื)(☝ ◉ืൠ◉ื)(☝ ◉ืൠ◉ื)</em>
    </div>
    <hr>
