<% include /header %>

<h1>Login</h1>

<div class="col-md-offset-4 col-md-4">
<% include alerts %>
    <form class="form" id="login-form" method="post" action="/login">
        <input type="text" class="form-control" id="login-entry" placeholder="Email" name="email">
        <input type="password" class="form-control" id="login-entry" placeholder="Password" name="password">
        <br>
        <div class="form-group has-feedback">
            <i class="glyphicon glyphicon-circle-arrow-right form-control-feedback" id="glyphiconWhite"></i>
            <input type="submit" value="" style="width: 100%;" class="btn btn-primary center-block">
        </div>
        <h5>New to Jungle Movies? <a href="/signup">Sign up now</a></h5>
    </form>
</div>

<% include /footer %>
