<% include /header %>

<!-- else is broken-->

<h1>Search Results</h1>
    <div id="alerts">
    <% include alerts %>
    </div>
<div class="container">
    <div class="row" id="whiteBlock">
        <div class="col-md-12">
            <% count = 0  %>
            <% for (var i = 0; i < Search.length; i++) { %>
            <% if (Search.length != 0 && Search[i].Type === "movie" && (Search[i].Title.toLowerCase()).indexOf('undefined') === -1) {%>
            <% count += 1 %>

            <div class="container-fluid" id="search-item">
                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1 text-center" id="movie-count">
                        <%= count %>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6" id="movie-title">
                        <a href="/movie/<%= Search[i].imdbID %>" style="color: #666;">
                        <ul>
                            <li><%= Search[i].Title %><br>(<%= Search[i].Year %>)</li>
                        </ul>
                        </a>
                    </div>
                </div>
            </div>
            <%  } %>
            <% } %>
        </div>
    </div>
</div>

<% include /footer %>
