* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

body {
  background: url("http://s3.amazonaws.com/auteurs_production/images/film/house/w856/house.jpg");
  /*  background: url("http://s3.amazonaws.com/auteurs_production/images/film/death-race-2000/w856/death-race-2000.jpg");*/
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Helvetica,Arial,"Lucida Grande",sans-serif;
  text-transform: uppercase;
}

.hiddenAdd {
  display: none;
}

.navbar {
    background-color: white !important;
    background-image: none !important;
}

.form-control {
  background-color: #F1F2F3 !important;
}

h1 {
  color: white;
  font-size: 72pt;
  text-align: center;
}

ul {
  list-style-type: none;
}

a:link, a:visited, a:focus {
  text-decoration: none !important;
/*  color: #a2a2a2;*/
}

a:hover{
  color: #1E5C81 !important;
}



#chunk {
  background-color: rgba(255,255,255,.65);
  border: 10px solid white;
}

#movie-title {
  color: #666 !important;
}

#movie-title ul li {
  color: #666 !important;
}

#movie-item {
  background: white;
  border: 10px solid rgba(255,255,255,0);
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14pt;
}

#movie-count {
  color: #a2a2a2;
  font-size:30pt;
  text-align:center;
  font-weight: bold;
  border-right: 1px solid #ddd;
}
