<% include ../header %>

<div class="container">
    <h1 style="color: white; font-size:72pt; text-align:center;"> <%= Watchlist.title %> has been added to your watchlist!</h1>
</div>

<% include ../footer %>
