<% include ../header %>

<div class="container">
  <h1 style="color: white; font-size:72pt; text-align:center;">COMMENTS</h1>
  <form role="form" action="/movies/watchlist/<%= commentId %>/comments" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" id="comment-entry" placeholder="Leave a comment" name="text">
    </div>
  </form>

<div class="container" id="chunk">
    <div class="row">
      <div class="col-md-12" id="chunk">
         <% for (var i = 0; i < returnMe.length; i++) { %>
         <div class="container-fluid" id="movie-item">
            <div class="row">
               <div class="col-xs-12" id="movie-comment">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp; <%= returnMe[i].text %>
               </div>
            </div>
            </div>
         <% } %>
      </div>
   </div>
</div>
</div>

<% include ../footer %>
