<% include ../header %>

<div class="container" id="homepage-container">
    <div class="row">
        <h1>JUNGLE MOVIES</h1>
        <h2>Track all of those films that you'll <br> eventually get around to watching</h2>
    </div><br>
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4 text-center">
          <form role="search" action="/movies/search" method="get">
            <div class="form-group has-feedback">
              <i class="glyphicon glyphicon-search form-control-feedback"></i>
              <input type="text" class="form-control" name="search">
            </div>
          </form>
      </div>
    </div>

<% include ../footer %>
