<% include ../header %>

<div class="jumbotron">
    <h1>My Movies App</h1>
    <form action='/movies/search' method='get'>
        <input type='text' name='search' placeholder='Matrix'>
        <input type='submit' class="btn btn-primary btn-lg" value='Submit'>
    </form>
</div>





<% include ../footer %>
