<% include ../header %>

 <h1 style="color: white; font-size:72pt; text-align:center;">OFMG</h1>
 <h2 style="color: white; text-align:center;">Track all of those films that you'll eventually get around to watching

<% include ../footer %>
