<% include ../header %>

<div class="container" id="chunk">
    <div class="row">
        <div class="col-md-12" id="chunk">
            <h1>Search Results</h1>
            <div class="container-fluid" id="movie-item">
                <div class="row">
                    <div class="col-xs-1 text-center" id="movie-count">
                        hello
                    </div>
                    <div class="col-xs-6" id="movie-title">
                        hihihihihi
                    </div>
                </div>
            </div><br>
                hellohello
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
</div>

<% include ../footer %>
